{% extends 'base.html.twig' %}

{% block title %}New Rabbit{% endblock %}

{% block body %}
    <h1>Create new Rabbit</h1>

    {{ include('rabbit/_form.html.twig') }}

    <a href="{{ path('rabbit_index') }}">back to list</a>
{% endblock %}
